.container.menu{
    min-height: 800px;
    position: relative;
    background: #f9fafd;
    .columns-container{
        min-height: 800px;
        padding-top: 100px;
    }

    .menu-item-content{
        padding: 0px 25px;
        position: relative;

        span.menu-item-price{

            position: absolute;
            right: 30px;
            color: #ff806e;
            font-family: "Inconsolata";
            font-weight: bold;
        }
    }
    .egg-image{
        position: absolute;
        background-image: url(https://themewagon.gitlab.io/restaurant/assets/img/food/egg.png);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 16%;
        background-position: right top;
        right: 0px;

    }


    .egg-image.in-view{
        animation: show-img 1500ms ease-out forwards;

    }

    @keyframes show-img {

        from{
            opacity: 0;
            transform: scale(.2);
            transform-origin: right top;
        }
        to{
            transform: scale(1);
            transform-origin: right top;
            opacity: 1;
        }

    }

    .bread-image{
        position: absolute;
        background-image: url(https://themewagon.gitlab.io/restaurant/assets/img/food/bread.png);
        width: 100%;
        height: 12%;
        background-repeat: no-repeat;
        background-size: 29%;
        background-position: left bottom;
        left: 0px;
        display: none;
        bottom: 0px;
    }

    .bread-image.in-view{
        animation: show-bread-img 1500ms ease-out forwards;
    }

    @keyframes show-bread-img {

        from{
            opacity: 0;
            transform: scale(.2);
            transform-origin: left bottom;
        }
        to{
            transform: scale(1);
            transform-origin: left bottom;
            opacity: 1;
        }

    }

}
.menu{
    position: relative;
    z-index: 2;

    ul.list{
        gap: 30px;
        font-weight: bold;
        font-family: "Inconsolata";
        text-decoration: none;
        list-style: none;
        font-size: 0.9rem;
        cursor: pointer;
        .item{
            color: #9da9bb;
            span{
                display: none;
            }
        }
    }
}
#menu{

    .text-center.in-view{
        animation: show-in 1500ms ease-in forwards;
    }
}
@media screen and (min-width:767px){
    section.menu-section{
        padding-top: 80px;
    }

    .container.menu{
        ul.list{
            .item{
                span{
                    display: block;
                }
            }
        }
    }
}


@media screen and (min-width:992px){
    .container.menu{
        .menu-item-content{
            padding: 20px 70px;
        }
    }
}

@media screen and (min-width:1200px){
    .container.menu{
        .bread-image{
            display: block;
        }
    }
    section.menu-section{
        padding-top: 0px;
    }
    .menu{
        ul.list{
            font-size: 1.4rem;
            .item{
                span{
                    display: block;
                }
            }
        }
    }
}
