
//Menu section
.container.menu{
    min-height: 800px;
    position: relative;
    background: #f9fafd;
    .menu{
        position: relative;
        z-index: 2;
    }
    ul.list{
        gap: 30px;
        font-weight: bold;
        font-family: "Inconsolata";
        text-decoration: none;
        list-style: none;
        font-size: 1.3em;
        .item{
            color: #9da9bb;
        }
    }

    .menu-item-content{
        padding: 20px 70px;
        position: relative;

        span.menu-item-price{

            position: absolute;
            right: 30px;
            color: #ff806e;
            font-family: "Inconsolata";
            font-weight: bold;
        }
    }
    .egg-image{
        position: absolute;
        background-image: url(https://themewagon.gitlab.io/restaurant/assets/img/food/egg.png);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 16%;
        background-position: right top;
        right: 0px;
    }
    .bread-image{
        position: absolute;
        background-image: url("https://themewagon.gitlab.io/restaurant/assets/img/food/bread.png");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 37%;
        background-position: left bottom;
        left: 0px;
    }
}




// @media screen and (max-width:576px){


//     .container.menu{
//         .bread-image{
//             display: none;
//         }
//     }

// }

// @media screen and (min-width:576px){

//     .container.menu{
//         .bread-image{
//             display: none;
//         }
//     }

// }