@import "bootstrap/scss/bootstrap";

@import "fonts.scss";


body{
    position: relative;
    overflow-x: hidden;

    .scroll-top{
        position: fixed;
        text-decoration: none;
        background-color: #ffb82e;
        padding: 12px 20px;
        border-radius: 0.5em;
        right: 30px;
        bottom: 15px;
        z-index: 2;

        i{
            color: #fff;
        }

        &:hover{
            transition: transform .5s linear;
            transform: scale(1.1);

        }
    }
}

section{
    padding: 30px 15px;
    margin-top: 50px;

}

p{
    color: #5e6e82;
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-family: "Inconsolata";
}
h6{
    color: #000;
    font-family: "Merriweather";
    font-weight: bold;
    font-size: 1rem;

}
h3{
    font-size: 1rem;
    font-family: "Merriweather";
    font-weight: bold;

}
h2{
    line-height: 1.5;
    font-size: 1.5rem;
    font-family: "Merriweather";
    font-weight: bold;
}
h1{
    line-height: 1.5;
    font-size: 1.5rem;
    font-family: "Merriweather";
}
.btn.btn-primary{
    width: fit-content
}
.section-header{
    color: #232e3c;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Inconsolata";
    margin-bottom: 0px;

}
//layout
#content{
    height: fit-content
}

.navbar{
    z-index: 5;
    padding: 17px 0px;

    .navbar-brand {
        flex: 0 0 20%;
        img{
            height: 35px;
        }
    }

    .navbar-collapse.show{
        // padding: 15px 24px;
        // margin-top: 10px;
        // border-top: 1px solid rgba(255, 255, 255, 0.7);
    }
    .navbar-toggler:focus{
        box-shadow: 0 0 0 2px;
    }
    .container{
        padding: 0px 20px;
        align-items: end;
    }
    .navbar-nav{
        .nav-item{
            padding-right: 20px;
        }
        a.nav-link{
            font-size: 1rem;
            color: rgba(255,255,255,.7) !important;
            font-family: "Inconsolata";
        }
        a.nav-link:hover{
            color: rgba(255,255,255,.8) !important;
        }
    }
}


.btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled):active:focus {
    color: #4d5969;
    background-color: #ffc554;
    border-color: #ffc554;
    box-shadow: unset;
}

.btn-outline-primary:focus{
    box-shadow: unset;
}

.btn-primary:hover, :not(.btn-check) + .btn:active {
    color: #4d5969;
    background-color: #ffc554;
    border-color: #ffc554;
    opacity: 0.7;
}

.btn-outline-primary, .btn-primary {
    border-color: #ffc554;
    color: #ffc554;
}

.btn-outline-primary, .btn-primary{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7rem;
}
.btn-primary {
    color: #4d5969;
    background-color: #ffc554;
    border-color: #ffc554;

}

footer{
    background-color: #0b1727;
    padding: 30px 15px 0px 15px;

    .footer-logo{
        position: relative;
    }

    .footer-logo.in-view{
        animation: show-footer-img 1000ms ease-out forwards;
    }

    @keyframes show-footer-img{
        from{
            bottom: -50px;
            opacity: 0.5;
        }
        to{
            bottom: 0px;
            opacity: 1;
        }
    }

    .container{
        img{
            height: 35px;
        }

        img.footer-logo{
            width: 83px;
            height: 232px;
            display: none;
        }
        .column-3, .column-4{
            padding-top: 20px;
            p{
                color: #525b6a;
                padding-bottom: 0px;
                display: flex;
                font-size: 0.8rem;
                a{
                    text-decoration: none;
                    font-size: 0.8rem;
                }
            }
            h6.footer-title{
                color: #fff;
                font-size: 0.9rem;
            }
        }

    }
    .container{
        z-index: 1;
    }
    .copyright{
        background-color: #000;
        color: #5e6e82;
        font-size: 0.9rem;
        position: relative;
        z-index: 2;
    }
}

@media screen and (min-width:767px){
    h1{
        font-size: 2rem;
    }
    .collapse:not(.show) {
        display: block;
    }
    footer{
        .container{
            img.footer-logo{
                display: block;
            }
        }
    }
}
@media screen and (min-width:1200px){
    .btn-outline-primary, .btn-primary{
        padding: 10px 32px;
        font-size: 15px;
    }
    h1{
        font-size: 2.5rem;
    }
    p{
        font-size: 1.4rem;
    }
    h2{
        font-size: 2.4rem;
    }

    h6{
       font-size: 1rem;
    }

    h3{
        font-size: 1.2rem;

    }

    .navbar{
        .navbar-brand {
            img{
                height: 40px;
            }
        }
        .navbar-nav{
            a.nav-link{
                font-size: 1.2rem;
            }
        }
    }




    footer{
        padding: 35px 0px 0px;

        .container{
            img{
                height: 40px;
            }

            .column-3, .column-4{
                p{
                    font-size: 1rem;
                    a{
                        font-size: 1rem;
                    }
                }
                h6.footer-title{
                    font-size: 1rem;
                }
            }

        }

        .copyright{
            font-size: 1rem;
        }
    }

    section{
        margin-top: 30px;
    }
}



@media screen and (min-width:1400px){

    section{
        margin-top: 100px;
    }

}
