@import "bootstrap/scss/bootstrap";

@import "fonts.scss";


//layout
#content{
    height: fit-content
}

.navbar{
    z-index: 2;
    .navbar-brand {
        flex: 0 0 20%;
        img{
            height: 45px;
        }
    }
    .navbar-nav{
        a.nav-link{
            font-size: 17px;
            color: rgba(255,255,255,.7) !important;
        }
    }
}

.btn-outline-primary:hover {
    color: #4d5969;
    background-color: #ffc554;
    border-color: #ffc554;
}

.btn-primary:hover, :not(.btn-check) + .btn:active {
    color: #4d5969;
    background-color: #ffb82e;
    border-color: #ffb421;
}
.btn-outline-primary, .btn-primary {
    border-color: #ffc554;
    color: #ffc554;
}
.btn-outline-primary, .btn-primary{
    padding: 12px 38px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}
.btn-primary {
    color: #4d5969;
    background-color: #ffc554;
    border-color: #ffc554;
}

footer{
    background-color: #0b1727;

    .container{
        img{
            height: 45px;
        }

        img.footer-logo{
            width: 122px;
            height: 325px;
        }
        .column-3, .column-4{
            p{
                color: #525b6a;
                a{
                    text-decoration: none;
                }
            }
            h6{
                color: #fff;
            }
        }

    }
    .copyright{
        background-color: #000;
        color: #5e6e82;
        font-size: 20px;
    }
}


//paragreph
p{
    color: #5e6e82;
    font-size: 1.2rem;
    font-family: "Inconsolata";
}
h6{
    color: #000;
    font-family: "Merriweather";
    font-weight: bold;

}
h2{
    line-height: 1.5;
    font-size: 2.4rem;
    font-family: "Merriweather";
    font-weight: bold;
}
h1{
    line-height: 1.5;
    font-size: 2.4rem;
    font-family: "Merriweather";
}
.btn.btn-primary{
    width: fit-content
}
.section-header{
    color: #232e3c;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Inconsolata";
    margin-bottom: 0px;

}

section.about-section{
    margin-top: 10em;
}

section.contacts-section{
    margin-top: 10em;
}