@import "bootstrap/scss/bootstrap";

@import "fonts.scss";


//layout
#content{
    height: 1900px;
}

.navbar{
    z-index: 2;
    .navbar-brand {
        flex: 0 0 20%;
        img{
            height: 45px;
        }
    }
    .navbar-nav{
        a.nav-link{
            font-size: 17px;
            color: rgba(255,255,255,.7) !important;
        }
    }
}

.btn-outline-primary:hover {
    color: #4d5969;
    background-color: #ffc554;
    border-color: #ffc554;
}

.btn-primary:hover, :not(.btn-check) + .btn:active {
    color: #4d5969;
    background-color: #ffb82e;
    border-color: #ffb421;
}
.btn-outline-primary, .btn-primary {
    border-color: #ffc554;
    color: #ffc554;
}
.btn-outline-primary, .btn-primary{
    padding: 12px 38px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}
.btn-primary {
    color: #4d5969;
    background-color: #ffc554;
    border-color: #ffc554;
}

footer{
    background-color: #0b1727;

    .container{
        img{
            height: 45px;
        }

        img.footer-logo{
            width: 122px;
            height: 325px;
        }
        .column-3, .column-4{
            p{
                color: #525b6a;
                a{
                    text-decoration: none;
                }
            }
            h6{
                color: #fff;
            }
        }

    }
    .copyright{
        background-color: #000;
        color: #5e6e82;
        font-size: 20px;
    }
}

//home style

.hero{
    height: 100vh;
    .hero-image{
        padding-left: 0px;
        background-image: url("http://localhost:3000/yellow-banner.png");
        background-repeat: no-repeat;
        height: 100vh;
        background-size: 35%;
        position: absolute;
        position: absolute;
        width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        z-index: 1;

    }
    .row{

        .column-left{
            z-index: 2;

            img.plate{
                width: 500px;
                position: relative;
                left: 4em;
                top: 4em;
            }
        }
        .column-right{
            margin: auto;
            .row{
                width: 34vw;
                p{
                    color: #5e6e82;
                    font-size: 1rem;
                    font-family: "Inconsolata";
                }
            }
            h1{
                line-height: 1.5;
                font-size: 2.4rem;
                font-family: "Merriweather";
            }
        }

    }
}

//Menu section
.container.menu{
    ul.list{
        gap: 30px;
        font-weight: bold;
        font-family: "Inconsolata";
        text-decoration: none;
        list-style: none;
        font-size: 1.3em;
    }

    .menu-item-content{
        padding: 20px 30px;
        h6{
            font-size: 1rem;
            color: #000;
            font-family: "Merriweather";
            font-weight: bold;

        }
        p{
            color: #748194;
            font-family: "Inconsolata";
            font-size: 1rem;
        }

    }


}
