.about-section{
    position: relative;
    min-height: 800px;
    .soup-image{
        position: absolute;
        width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        background-position: right center;
        background-size: 40%;
        background-repeat: no-repeat;
        background-image: url(https://themewagon.gitlab.io/restaurant/assets/img/food/soup.png);

    }
    h6{
        color: #232e3c;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .team{
        width: 150px;
        height: 150px;
        border-radius: 7em;
    }
}


// @media screen and (max-width:481px){
//     section.about-section {
//         margin-top: 5em;
//     }
//     .about-section{
//         .soup-image{
//             display: none;
//         }
//     }

// }


@media screen and (max-width:576px){


    .about-section{
        .soup-image{
            display: none;
        }
    }

}

@media screen and (min-width:576px){

    .about-section{
        .soup-image{
            display: none;
        }
        .team{
            width: 200px;
            height: 200px;
        }
    }

}

@media screen and (min-width:992px){

    .about-section{
        .soup-image{
            display: block;
        }
    }

}