.about-section{
    position: relative;
    min-height: 800px;
    .soup-image{
        position: absolute;
        width: 100%;
        min-height: 100%;
        top: 0;
        background-position: right center;
        background-size: 31%;
        background-repeat: no-repeat;
        background-image: url(https://themewagon.gitlab.io/restaurant/assets/img/food/soup.png);
        animation: show-soup-right 1000ms ease-out forwards;
        display: none;
    }

    @keyframes show-soup-right{

        from{

            right: -900px;
            opacity: 0.5;
        }
        to{
            right: 0px;
            opacity: 1;
        }

    }

    .section-header, button, p.subheader, h2, .text-center{
        animation: show-in 1000ms ease-in forwards;
    }

    h6{
        color: #232e3c;
        font-size: 1rem;
        font-weight: bold;
    }
    .team{
        width: 150px;
        height: 150px;
        border-radius: 7em;
    }


}

@media screen and (min-width:1200px){
    .about-section{
        .soup-image{
            display: block;
        }
    }
}