//home style

#content{
    margin-top: 80px;
    .hero-section{
        padding: 30px 15px;
    }
}
.hero{
    // height: 100vh;
    // min-height: 650px;
    padding: 0px;
    .hero-image{
        padding-left: 0px;
        background-image: url("http://localhost:3000/yellow-banner.png");
        background-repeat: no-repeat;
        height: 100vh;
        background-size: 35%;
        position: absolute;
        width: 100%;
        min-height: 100%;
        z-index: 1;
        display: none;

    }
    .hero-content{
        text-align: center;
    }
    .row{

        .column-left{
            z-index: 2;
            order: 2;
            margin-top: 10px;

            img.plate{
                position: relative;
                // left: 4em;
                // top: 4em;
                width: 250px;
            }
        }
        .column-right{
            margin: auto;
            order: 1;
            .row{

                .introduction-header{
                    text-align: center;
                    font-size: 1.5rem;
                }
                .introduction{
                    display: none;

                }
                .introduction-buttons{
                    justify-content: center;
                }
            }
        }

    }
}



// @media screen and (max-width:576px){

//     .hero{
//         height: 65vh;
//         min-height: auto;

//         .hero-image{
//             display: none;
//         }
//         .row{
//             .column-left{
//                 order: 2;

//                 img.plate{
//                     width: 300px;
//                     left: 0px;
//                     top: 0px;
//                     padding-top: 40px;
//                 }
//             }
//             .column-right{
//                 order: 1;
//                 padding-top: 60px;
//                 .row{
//                     width: 100vw;
//                     text-align: center;
//                     .introduction-header{
//                         text-align: center;
//                     }
//                     .introduction-buttons{
//                         justify-content: center;
//                     }
//                 }

//             }
//         }
//     }

// }

// @media screen and (min-width:576px){
//     .hero{

//         .hero-image{
//             display: none;
//         }
//         .hero-content{
//             height: 100vh;
//             max-height: 350px;

//         }
//         .row{
//             .column-left{

//                 img.plate{
//                     width: 200px;
//                 }
//             }
//             .column-right{
//                 order: 1;
//                 .row{
//                     width: 50vw;
//                 }

//             }
//         }
//     }

// }

// @media screen and (min-width:992px){
//     .hero{
//         .hero-image{
//             display: block;
//         }
//         .row{
//             .column-left{
//                 img.plate{
//                     width: 207px;
//                 }
//             }
//         }
//     }
// }


// @media screen and (min-width:1200px){
//     .hero{
//         .row{
//             .column-left{
//                 img.plate{
//                     width: 400px;
//                 }
//             }
//         }
//     }
// }


@media screen and (min-width:767px){
    .hero{
        .row{

            .column-left{

                order: 2;
                margin-top: 0px;
            }
            .column-right{

                order: 2;
                .row{
                   // width: 34vw;
                   max-width: 400px;
                    .introduction-header{
                        text-align: left;
                        font-size: 2rem;
                    }
                    .introduction{
                        display: block;
                        font-size: 1rem;
                        text-align: left;

                    }
                    .introduction-buttons{
                        justify-content: start;
                    }
                }
            }

        }
    }


}

@media screen and (min-width:1200px){

    .hero{
        // height: 100vh;
        // min-height: 650px;
        .hero-image{
            display: block;
        }
    }
    #content .hero-section {
        padding: 0px;
    }

    .hero{
        .row{
            .column-left{
                img.plate{
                    width: 60%;
                    top: 5em;
                }
            }
            .column-right{
                .row{
                    max-width: 560px;
                }
            }
        }
        .hero-content{
            min-height: 600px;
        }
    }

}