//home style

#content{
    margin-top: 80px;
    .hero-section{
        padding: 30px 15px;
        position: relative;
    }
}
.hero{
    padding: 0px;
    .hero-image{
        padding-left: 0px;
        background-image: url("http://localhost:3000/yellow-banner.png");
        background-repeat: no-repeat;
        height: 100vh;
        background-size: 35%;
        position: absolute;
        width: 100%;
        min-height: 100%;
        z-index: 1;
        display: none;

    }
    .hero-content{
        text-align: center;
    }
    .row{

        .column-left{
            z-index: 2;
            order: 2;
            margin-top: 10px;

            img.plate{
                position: relative;
                width: 250px;
            }
        }
        .column-right{
            margin: auto;
            order: 1;
            .row{

                .introduction-header{
                    text-align: center;
                    font-size: 1.5rem;
                }
                .introduction{
                    display: none;

                }
                .introduction-buttons{
                    justify-content: center;
                }
            }
        }

    }
}


@media screen and (min-width:767px){
    .hero{
        .row{
            .column-left{
                order: 2;
                margin-top: 0px;
            }
            .column-right{

                order: 2;
                .row{
                   max-width: 550px;
                    .introduction-header{
                        text-align: left;
                        font-size: 2rem;
                    }
                    .introduction{
                        display: block;
                        font-size: 1rem;
                        text-align: left;

                    }
                    .introduction-buttons{
                        justify-content: start;
                    }
                }
            }

        }
    }


}

@media screen and (min-width:1200px){

    #content{
        .hero-section{
            padding: 0px;
        }
    }

    .hero{
        .hero-image{
            display: block;
        }
    }


    .hero{
        .row{
            .column-left{
                img.plate{
                    width: 60%;
                    top: 5em;
                }
            }
            .column-right{
                .row{
                    max-width: 560px;
                    .introduction-header{
                        font-size: 2.5rem;
                    }
                    .introduction{
                        font-size: 1.3rem;
                    }
                }
            }
        }
        .hero-content{
            min-height: 700px;
        }
    }

    section.hero-section{padding: 0px;}

}