.contacts-section{
    position: relative;
    min-height: 770px;

    .constacts-content{
        gap: 2em;
        justify-content: center;
    }
    .green-image{
        position: absolute;
        width: 100%;
        min-height: 100%;
        top: 0;
        background-position: left center;
        background-size: 28%;
        background-repeat: no-repeat;
        background-image: url(https://themewagon.gitlab.io/restaurant/assets/img/food/green.png);
        display: none;
        animation: show-green-right 1500ms ease-out forwards;
    }

    @keyframes show-green-right{

        from{
            left: -200px;
            opacity: 0.5;
        }
        to{
            left: 0px;
            opacity: 1;
        }

    }

    .container{
        z-index: 2;
        position: relative;

        .contact-header{
            color: #232e3c;
            font-size: 1.5em;
            font-weight: bold;
            font-family: "Inconsolata";

        }
        .card-body{
            .card-title{
                color: #ff806e;
                font-weight: bold;
                font-size: 1.3rem;
                margin-bottom: 10px;
                line-height: 1.5rem;
            }
            .card-text{
                color: #5e6e82;
                font-size: 1rem;
                font-family: "Inconsolata";
                margin-bottom: 0px;
                line-height: 1.5rem;
                font-size: 1.2rem;
            }
        }

        .constacts-content{
            div{
                background: white;
                // max-width: 400px;
                border-radius: 0.5em;
                box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.19)
            }
         }

        .btn-primary {
            color: #4d5969;
            background-color: #ff806e;
            border-color: #ff806e;
            padding: 10px 38px;
            color: white;
        }

        .btn-primary:hover, :not(.btn-check) + .btn:active {
            color: #4d5969;
            background-color: #ff806e;
            border-color: #ff806e;
            opacity: 0.7;
        }
        .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
            box-shadow: unset;
        }
        .btn-primary.focus, .btn-primary:focus{
            box-shadow: unset;
        }
    }
}

.contacts-section{
    display: flex;
    justify-content: center;
    .container{
        margin-left: unset;
        margin-right: unset;
    }
}



@media screen and (min-width:1200px){
    .contacts-section{
        .green-image{
            display: block;
        }
    }

}
